<!--
<div class="footer">
    <div class="footer-left">
    </div>
    <div class="footer-center">
        <div class="footer-item">
            Powered by Jayll
        </div>
    </div>
    <div class="footer-right">
    </div>
</div>
-->
<div class="grid grid-header">
    <div class="grid grid-header-left">
    </div>
    <div class="grid grid-header-center">
        <div class="grid grid-header-item">
            Powered by Jakyll
        </div>
    </div>
    <div class="grid grid-header-right">
    </div>
</div>
