<div class="grid-header">
    <div class="grid-header-left">
        <div class="grid grid-header-item-left">
            <button class="button button-logo">
                <img src="../../docs/bluejay_devices.svg" alt="{{ site.title }}" class="nav-logo-img">
            </button>
        </div>
    </div>
    <div class="grid-header-center">
        <div class="grid grid-header-item-center">
            <button class="button">
                About
            </button>
            <!--
            <button class="button">
                Products
            </button>
            -->
            <div class="dropdown custom-select">
                <a href="#" class="nav-link">Nav</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Item #1</a></li>
                </ul>
            </div>
            <div class="custom-select">
                <select>
                    <option value="">Documentation</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <div class="custom-arrow">{% include icons/chevron-down.html size="12" %}</div>
            </div>
        </div>
    </div>
    <div class="grid-header-right">
        <div class="grid grid-header-item-right">
            <button class="button">
                Contact 
            </button>
        </div>
    </div>
</div>

<!--
<div class="header">
    <div class="header-left">
        <div class="header-item">
            <a class="nav-logo" href="{{ "/" | relative_url }}">
                <img src="../../docs/bluejay_devices.svg" alt="{{ site.title }}" class="nav-logo-img">
            </a>
        </div>
    </div>
    <div class="header-center">
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">
                About {% include icons/chevron-down.html size="10" %}
            </a>
        </div>
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">
                Products {% include icons/chevron-down.html size="10" %}
            </a>
        </div>
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">Docs</a>
        </div>
    </div>
    <div class="header-right">
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">Contact</a>
        </div>
    </div>
</div>
-->
        <!--
            <img src="{{}}" alt="Company Name">
        <a class="header-nav" href="{{ "/" | relative_url }}">About</a>
        <a class="header-nav" href="{{ "/" | relative_url }}">Products</a>
        <a class="header-nav" href="{{ "/" | relative_url }}">Documentation</a>
        -->
