<div class="header">
    <div class="header-left">
        <div class="header-item">
            <a class="nav-logo" href="{{ "/" | relative_url }}">
                <img src="../../docs/bluejay_devices.svg" alt="{{ site.title }}" class="nav-logo-img">
            </a>
        </div>
    </div>
    <div class="header-center">
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">About</a>
        </div>
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">Products</a>
        </div>
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">Docs</a>
        </div>
    </div>
    <div class="header-right">
        <div class="header-item">
            <a class="nav-button" href="{{ "/" | relative_url }}">Contact</a>
        </div>
    </div>
</div>
        <!--
            <img src="{{}}" alt="Company Name">
        <a class="header-nav" href="{{ "/" | relative_url }}">About</a>
        <a class="header-nav" href="{{ "/" | relative_url }}">Products</a>
        <a class="header-nav" href="{{ "/" | relative_url }}">Documentation</a>
        -->
