<!--
<div class="main">
    <div class="main-left">
        <div class="main-content">
            Column 1
        </div>
    </div>
    <div class="main-center">
        <div class="main-content">
        </div>
    </div>
    <div class="main-right">
        <div class="main-content">
            Column #3
        </div>
    </div>
</div>
-->
<div class="grid grid-main">
    <div class="grid grid-header-left">
    </div>
    <div class="grid grid-header-center" style="grid-template-columns: minmax(auto, 600px);">
        {{ content }}
    </div>
    <div class="grid grid-header-right">
    </div>
</div>
