@charset "UTF-8";

// Styles for rendered markdown in the .main-content container
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity, selector-max-id


.main-content {
    //line-height: 1.6;
}
