// Define your color variables
$bluejay-blue: #304e67; 

$light-grey: #D3D3D3;
$light-grey: #d0d7de;
$dark-grey: #A9A9A9; 

$default-background-color: white;
$default-border-color: $dark-grey;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid; 
    border-width: 0; 
    border-color: $default-border-color; 
    background-color: $default-background-color;
    //list-style: none;
    //text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}

.header {
    width: 100%;
    height: 80px;
    //color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px 0px 1px 0px;
}


.header-left {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: start; 
    align-items: center;
    //background-color: blue; 
    padding: 0px 0px 0px 10px;
}

.header-center {
    height: 100%;
    flex: 1;
    //max-width: 50%;
    max-width: 600px;
    //lmax-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //background-color: green; 
    padding: 0px 10px 0px 10px;
}

.header-right {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    //background-color: red; 
    padding: 0px 10px 0px 0px;
}

.header-item {
    height: 100%;
    display: flex;
    //background-color: orange; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

//.header-item:first-child {
//    margin: 0px 20px 0px 20px;
//}
//
//.header-item:last-child {
//    margin: 0px 20px 0px 0px;
//}


.nav-logo-img {
    height: 100%;
    background-color: transparent; 
}

.nav-logo {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
}

.nav-logo:hover {
    color: inherit;
    background-color: $light-grey; 
}

.nav-button {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-width: 1px;
    border-radius: 4px;
}

.nav-button:visited {
    color: inherit;
}

.nav-button:hover {
    color: inherit;
    background-color: $light-grey; 
}

//.header-logo {
//    height: 20%;
//    width: auto;
//    //height: kd;
//    display: flex;
//    //background-color: green; 
//    background-image: url("../../docs/bluejay_devices.svg");
//    background-size: contain;
//    background-repeat: no-repeat;
//    background-position: center;
//}

.footer {
    width: 100%;
    height: 80px;
    border-width: 2px; 
    color: green;
}

.test-block {
    width: 50px;
    height: 20px;
    border-width: 2px; 
}

