// Define your color variables
$bluejay-blue: #304e67; 

$light-grey: #D3D3D3;
$light-grey: #d0d7de;
$dark-grey: #A9A9A9; 

$default-background-color: white;
$default-border-color: $dark-grey;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid; 
    border-width: 0; 
    border-color: $default-border-color; 
    background-color: transparent;
    //list-style: none;
    //text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}


.nav-logo-img {
    height: 100%;
    background-color: transparent; 
}

.nav-logo {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
}

.nav-logo:hover {
    color: inherit;
    background-color: $light-grey; 
}

.nav-button {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-width: 1px;
    border-radius: 4px;
}

.nav-button:visited {
    color: inherit;
}

.nav-button:hover {
    color: inherit;
    background-color: $light-grey; 
}

//.header-logo {
//    height: 20%;
//    width: auto;
//    //height: kd;
//    display: flex;
//    //background-color: green; 
//    background-image: url("../../docs/bluejay_devices.svg");
//    background-size: contain;
//    background-repeat: no-repeat;
//    background-position: center;
//}

.main {
    display: flex;
}

.main-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-center {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}


.footer {
    width: 100%;
    height: 80px;
    //color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0px 0px 0px;
}

.footer-left {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: start; 
    align-items: center;
    //background-color: blue; 
    padding: 0px 0px 0px 10px;
}

.footer-center {
    height: 100%;
    flex: 1;
    //max-width: 50%;
    max-width: 600px;
    //lmax-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //background-color: green; 
    padding: 0px 10px 0px 10px;
}

.footer-right {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    //background-color: red; 
    padding: 0px 10px 0px 0px;
}

.footer-item {
    height: 100%;
    display: flex;
    //background-color: orange; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}


.test-block {
    width: 50px;
    height: 20px;
    border-width: 2px; 
}

/* Base icon styles */
.icon {
  display: block;
  background-color: transparent; 
  fill: none;
  stroke: currentColor;  /* Inherits parent text color */
}

/* Chevron down icon specific */
.icon-chevron-down {
    stroke-width: 1.5px;
}

.grid {
    display: grid;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.grid-body {
    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto; 
    min-height: 100vh;
    min-height: 100dvh;
    gap: 20px;
}


.grid-header,
.grid-main,
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-areas:
        "left center right";
    //background-color: blue;
    //gap: 0;
    gap: 20px;
}

.grid-header {
    width: 100%;
    height: 80px;
    border-color: $dark-grey;
    border-width: 0px 0px 1px 0px; 
}

.grid-main {
    width: 100%;
    height: auto;
}

.grid-footer {
    width: 100%;
    height: 80px;
    border-color: $dark-grey;
    border-width: 1px 0px 0px 0px; 
}

.grid-header-left,
.grid-main-left,
.grid-footer-left {
    display: grid;
    grid-area: left;
    justify-content: left;
    //background-color: orange;
    align-content: center;
    gap: 0;
    padding-left: 20px;
}

.grid-header-left {
    grid-template-columns: minmax(auto, 300px);
}

.grid-main-left {
    grid-template-columns: minmax(auto, 300px);
}

.grid-footer-left {
    grid-template-columns: minmax(auto, 300px);
}


.grid-header-center,
.grid-main-center,
.grid-footer-center {
    display: grid;
    grid-area: center;
    justify-content: center;
    align-content: center;
    //background-color: red;
    //grid-template-columns: 200px;
    //gap: 0;
}

.grid-header-center {
    grid-template-columns: minmax(auto, 400px);
}

.grid-main-center {
    grid-template-columns: minmax(auto, 700px);
}

.grid-footer-center {
    grid-template-columns: minmax(auto, 400px);
}

.grid-header-right,
.grid-main-right,
.grid-footer-right {
    display: grid;
    grid-area: right;
    justify-content: right;
    //background-color: yellow;
    gap: 0;
    padding-right: 20px;
}

.grid-header-right {
    grid-template-columns: minmax(auto, 300px);
}

.grid-main-right {
    grid-template-columns: minmax(auto, 300px);
}

.grid-footer-right {
    grid-template-columns: minmax(auto, 300px);
}


.grid-header-item,
.grid-header-item-left,
.grid-header-item-center,
.grid-header-item-right {
    //background-color: pink;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    //grid-template-columns: repeat(auto-fit, auto);
    //grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

//.grid-header-item,
//.grid-header-item-left,
//.grid-header-item-center,
//.grid-header-item-right {
//    background-color: pink;
//    grid-auto-flow: column;
//    grid-auto-columns: auto;
//    //grid-template-columns: repeat(auto-fit, auto);
//    //grid-template-columns: auto auto;
//    gap: 20px;
//    align-content: center;
//}

.grid-header-item-left {
    justify-content: left;
}

.grid-header-item-center {
    justify-content: center;
}

.grid-header-item-right {
    justify-content: right;
}


.button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 8px;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 10px;
    border-width: 1px;
    border-radius: 4px;
    border-color: $dark-grey;
    font-size: 16px;
}

.button:hover {
    color: inherit;
    background-color: $light-grey; 
}

.button-logo {
    border: none
}

select {
    padding: 10px 60px 10px 10px;
    height: 40px;
    border-width: 1px;
    border-radius: 4px;
    border-color: $dark-grey;
    font-size: 16px;
    appearance: none;
}

.custom-select {
    display: flex; 
    justify-content: center;
    align-content: center;
    position: relative;
}

.custom-arrow {
    position: absolute;
    //background-color: $light-grey;
    display: flex;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    pointer-events: none;
    border-width: 1px;
    border-radius: 0px 4px 4px 0px;
    border-color: $dark-grey;
    //display: grid;
    align-items: center;
    justify-content: center;
    //text-align: center;
}

select:hover {
    color: inherit;
    background-color: $light-grey; 
}

select:focus {
  outline: none;
}


.dropdown {
    position: relative;
}

.nav-link {
    display: flex;
    height: 40px;
    width: auto;
    border-width: 1px;
    border-radius: 4px; 
    border-color: $dark-grey;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    color: inherit;
    background-color: $light-grey; 
    text-decoration: none;
}

.nav-link:visited {
    color: inherit;
    text-decoration: none;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    min-width: 200px;
    list-style: none;
    border: none;
    //box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.dropdown-menu li {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    border-width: 1px 1px 0px 1px; 
    border-color: $dark-grey;
    overflow: hidden;
}

.dropdown-menu li:first-child {
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px; 
}

.dropdown-menu li:last-child {
    border-width: 1px 1px 1px 1px; 
    border-radius: 0px 0px 10px 10px; 
}

.dropdown-menu a {
    display: flex;
    padding: 0.75rem 1.5rem;
    color: black;
    //border: none;
    margin: 0;
    text-decoration: none;
    background-color: white;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: $light-grey;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}


//.grid-header:nth-child(1) {
//    grid-area: one;
//}

//.grid-header:nth-child(2) {
//    grid-area: two;
//}
//
//.grid-header:nth-child(1) {
//    grid-area: two;
//}


