// Define your color variables
$bluejay-blue: #304e67; 

$light-grey: #D3D3D3;
$light-grey: #d0d7de;
$dark-grey: #A9A9A9; 

$default-background-color: white;
$default-border-color: $dark-grey;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid; 
    border-width: 0; 
    border-color: $default-border-color; 
    background-color: $default-background-color;
    //list-style: none;
    //text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}


.nav-logo-img {
    height: 100%;
    background-color: transparent; 
}

.nav-logo {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
}

.nav-logo:hover {
    color: inherit;
    background-color: $light-grey; 
}

.nav-button {
    height: 60%;
    display: flex;
    padding: 10px;
    //text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-width: 1px;
    border-radius: 4px;
}

.nav-button:visited {
    color: inherit;
}

.nav-button:hover {
    color: inherit;
    background-color: $light-grey; 
}

//.header-logo {
//    height: 20%;
//    width: auto;
//    //height: kd;
//    display: flex;
//    //background-color: green; 
//    background-image: url("../../docs/bluejay_devices.svg");
//    background-size: contain;
//    background-repeat: no-repeat;
//    background-position: center;
//}

.main {
    display: flex;
}

.main-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-center {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}


.footer {
    width: 100%;
    height: 80px;
    //color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0px 0px 0px;
}

.footer-left {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: start; 
    align-items: center;
    //background-color: blue; 
    padding: 0px 0px 0px 10px;
}

.footer-center {
    height: 100%;
    flex: 1;
    //max-width: 50%;
    max-width: 600px;
    //lmax-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //background-color: green; 
    padding: 0px 10px 0px 10px;
}

.footer-right {
    height: 100%;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    //background-color: red; 
    padding: 0px 10px 0px 0px;
}

.footer-item {
    height: 100%;
    display: flex;
    //background-color: orange; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}


.test-block {
    width: 50px;
    height: 20px;
    border-width: 2px; 
}

/* Base icon styles */
.icon {
  display: flex;
  background-color: transparent; 
  fill: none;
  stroke: currentColor;  /* Inherits parent text color */
}

/* Chevron down icon specific */
.icon-chevron-down {
  margin-left: 0.3rem;
  transition: transform 0.3s ease;
}

.grid {
    display: grid;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.grid-body {
    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto; 
    min-height: 100vh;
    min-height: 100dvh;
    row-gap: 20px;
}


.grid-header,
.grid-main,
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-areas:
        "left center right";
    //background-color: blue;
    gap: 0;
}

.grid-header {
    width: 100%;
    height: 80px;
    border-color: $dark-grey;
    border-width: 0px 0px 1px 0px; 
}

.grid-main {
    width: 100%;
    height: auto;
}

.grid-footer {
    width: 100%;
    height: 80px;
    border-color: $dark-grey;
    border-width: 1px 0px 0px 0px; 
}

.grid-header-left,
.grid-main-left,
.grid-footer-left {
    display: grid;
    grid-area: left;
    justify-content: left;
    //background-color: orange;
    gap: 0;
}

.grid-header-left {
    grid-template-columns: minmax(auto, 200px);
}

.grid-main-left {
    grid-template-columns: minmax(auto, 200px);
}

.grid-footer-left {
    grid-template-columns: minmax(auto, 200px);
}


.grid-header-center,
.grid-main-center,
.grid-footer-center {
    display: grid;
    grid-area: center;
    justify-content: center;
    //background-color: red;
    //grid-template-columns: 200px;
    gap: 0;
}

.grid-header-center {
    grid-template-columns: minmax(auto, 400px);
}

.grid-main-center {
    grid-template-columns: minmax(auto, 700px);
}

.grid-footer-center {
    grid-template-columns: minmax(auto, 400px);
}

.grid-header-right,
.grid-main-right,
.grid-footer-right {
    display: grid;
    grid-area: right;
    justify-content: right;
    //background-color: yellow;
    gap: 0;
}

.grid-header-right {
    grid-template-columns: minmax(auto, 200px);
}

.grid-main-right {
    grid-template-columns: minmax(auto, 200px);
}

.grid-footer-right {
    grid-template-columns: minmax(auto, 200px);
}


.grid-header-item {
    //background-color: pink;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    //grid-template-columns: repeat(auto-fit, auto);
    //grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    align-content: center;
}


.button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 2px;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 10px;
    border-width: 1px;
    border-radius: 4px;
    border-color: $dark-grey;
}

.button:hover {
    color: inherit;
    background-color: $light-grey; 
}


//.grid-header:nth-child(1) {
//    grid-area: one;
//}

//.grid-header:nth-child(2) {
//    grid-area: two;
//}
//
//.grid-header:nth-child(1) {
//    grid-area: two;
//}


